@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kantapat's Cinema</h1>
    <center>
        <a href="movie/">
        <img src="https://api.soimilk.com/genThumb.php?file=sites/default/files/dsc_2357.jpg&maxw=900&maxh=900" alt="Cinema">
    </center>
</div>
